<div class="flex w-min p-2">
  <img data-public--subscribe-target="accountAvatar" class="rounded-md h-16 w-16 aspect-square"
    src="<%= asset_path 'missing.png' %>"/>
  <div class="p-3">
    <b class="cursor-pointer" data-public--subscribe-target="accountName"></b><br>
    <span data-public--subscribe-target="accountHandle"><%= params[:handle] %></span>
  </div>
</div>