<%= render 'account/shared/page' do |p| %>
  <% p.content_for :title, t('.section') %>
  <% p.content_for :body do %>
    <%= render 'account/shared/box', divider: true do |p| %>
      <% p.content_for :title, t('.header') %>
      <% p.content_for :actions do %>
        <%= render 'account/dashboard/settings_status' %>
      <% end %>
      <% p.content_for :description, t('.description') %>
      <% p.content_for :body do %>
        <%= render 'form' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<div class="hidden ">
  <div class="right-2.5 bottom-2.5 justify-around sm:w-auto h-[calc(100vh-15rem)] w-11 2xl:h-auto w-full mx-auto order-first order-last sm:w-1/2 aspect-square
        overflow-y-auto box-table pb-0.5 p-2 dark:bg-dark overflow-x-hidden flex flex-col sm:flex-row dark:hover:text-gray-200">

    <label class="relative inline-flex items-center mb-4 cursor-pointer text-gray-600">
      <input type="checkbox" value="" class="sr-only peer text-right">
      <div class="w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
      <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Public Phone</span>
    </label>
  </div>
</div>