<div id="public--login" tabindex="-1"
     aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full
       p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
  <div class="relative w-full h-full max-w-md md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button id="public--login-close" type="button" class="absolute top-3 right-2 text-gray-400 bg-transparent hover:bg-gray-200
         hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800
          dark:hover:text-white" data-modal-hide="public--login" data-action="public--main#modalClosed">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8">
        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Sign in to your mastodon server</h3>
        <div class="space-y-6">
          <div>
            <p>After you log in you can claim your profile, or suggest new listing.</p>
          </div>
          <div>
            <label for="server" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
              Enter Your Mastodon Instance Name
            </label>
            <input type="text" name="server" id="server" class="bg-gray-50 border border-gray-300 text-gray-900
               text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600
                dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="e.g. mastodon.social"
                   data-public--main-target="serverURL" required>
            <small data-public--main-target="serverError" class="text-red-500 hidden">
              Please enter a valid domain.
            </small>
          </div>
          <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4
             focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
              dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" data-action="public--main#login">
            Go to login
          </button>
          <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
            This web application will ask for permission to read your account information.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="profileModal" data-modal-backdrop="dynamic"
     aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full
       p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-modal md:h-full">
  <div class="relative w-full h-full max-w-6xl md:h-auto">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button id="public--subscribe-close" type="button" class="absolute top-3 right-2 text-gray-400 bg-transparent hover:bg-gray-200
         hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800
          dark:hover:text-white" data-modal-hide="profileModal" data-modal-target="profileModal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8">
        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Your VerifiedX Profile</h3>
        <%= turbo_frame_tag 'edit_profile' %>
      </div>
    </div>
  </div>
</div>
<button class="hidden" data-modal-target="profileModal"
        data-modal-toggle="profileModal" data-public--main-target="profileModalButton"></button>
