<main class="grow">
  <section class="py-8 bg-white lg:py-24 dark:bg-gray-900">
    <div class="max-w-5xl px-4 mx-auto format dark:format-invert lg:px-4">
      <h1 class="mb-6 text-3xl font-bold text-gray-900 lg:text-4xl dark:text-white">FAQ</h1>
      <div class="formatted_content trix-content">
        <%= Setting.faq&.html_safe %>
      </div>
    </div>
  </section>
</main>